.left-side {
  font-family: "Josefin Sans", sans-serif;
  width: 1173px;
  font-size: 90px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  margin-left: 6%;
}

.right-side {
  font-family: "Josefin Sans", sans-serif;
  width: 1314px;
  font-size: 90px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  margin-left: 5%;
}

#email {
  font-family: "Josefin Sans", sans-serif;
  width: 1314px;
  font-size: 90px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: right;
  margin-left: 5%;
}

span {
  color: #26a8fc;
}

img {
  width: 400px;
  height: 400px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#twitter {
  width: 375px;
  height: 107px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #26a8fc;
}

#twitter:hover {
  color: black;
}

#facebook {
  width: 581px;
  height: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: black;
}

#facebook:hover {
  color: #26a8fc;
}

#linkedin {
  width: 369px;
  height: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: #26a8fc;
}

#linkedin:hover {
  color: black;
}

#instagram {
  width: 428px;
  height: 100px;
  font-family: "Josefin Sans", sans-serif;
  font-size: 70px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  text-decoration: none;
  color: black;
}

#instagram:hover {
  color: #26a8fc;
}

#social {
  text-align: center;
}

a {
  margin: 2.5%;
}

#copyright {
  font-family: "Josefin Sans", sans-serif;
  font-size: 50px;
  text-align: center;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .left-side {
    font-family: "Josefin Sans", sans-serif;
    width: 250px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 6%;
  }

  .right-side {
    font-family: "Josefin Sans", sans-serif;
    width: 320px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }

  #email {
    font-family: "Josefin Sans", sans-serif;
    width: 320px;
    font-size: 28px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }

  img {
    width: 200px;
    height: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #twitter {
    width: 375px;
    height: 107px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #facebook {
    width: 581px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  #linkedin {
    width: 369px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #instagram {
    width: 428px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  a {
    margin: 2.5%;
  }

  #copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
  }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .left-side {
    font-family: "Josefin Sans", sans-serif;
    width: 500px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 6%;
  }

  .right-side {
    font-family: "Josefin Sans", sans-serif;
    width: 520px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }

  #email {
    font-family: "Josefin Sans", sans-serif;
    width: 520px;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }

  img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #twitter {
    width: 375px;
    height: 107px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #facebook {
    width: 581px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  #linkedin {
    width: 369px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #instagram {
    width: 428px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  a {
    margin: 2.5%;
  }

  #copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
  }
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .left-side {
    font-family: "Josefin Sans", sans-serif;
    width: 600px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 6%;
  }

  .right-side {
    font-family: "Josefin Sans", sans-serif;
    width: 650px;
    font-size: 50px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }

  #email {
    font-family: "Josefin Sans", sans-serif;
    width: 650px;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
  }

  img {
    width: 250px;
    height: 250px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  #twitter {
    width: 375px;
    height: 107px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #facebook {
    width: 581px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  #linkedin {
    width: 369px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }

  #instagram {
    width: 428px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 30px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }

  a {
    margin: 2.5%;
  }

  #copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 40px;
    text-align: center;
  }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .left-side {
    font-family: "Josefin Sans", sans-serif;
    width: 1173px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 6%;
  }
  
  .right-side {
    font-family: "Josefin Sans", sans-serif;
    width: 1314px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }
  
  #email {
    font-family: "Josefin Sans", sans-serif;
    width: 1314px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }
  
  span {
    color: #26a8fc;
  }
  
  img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #twitter {
    width: 375px;
    height: 107px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }
  
  #twitter:hover {
    color: black;
  }
  
  #facebook {
    width: 581px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  #facebook:hover {
    color: #26a8fc;
  }
  
  #linkedin {
    width: 369px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }
  
  #linkedin:hover {
    color: black;
  }
  
  #instagram {
    width: 428px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  #instagram:hover {
    color: #26a8fc;
  }
  
  #social {
    text-align: center;
  }
  
  a {
    margin: 2.5%;
  }
  
  #copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    text-align: center;
  }
  
  [aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .left-side {
      font-family: "Josefin Sans", sans-serif;
      width: 250px;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      margin-left: 6%;
    }
  
    .right-side {
      font-family: "Josefin Sans", sans-serif;
      width: 320px;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      margin-left: 5%;
    }
  
    #email {
      font-family: "Josefin Sans", sans-serif;
      width: 320px;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
    }
  
    img {
      width: 200px;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    #twitter {
      width: 375px;
      height: 107px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: #26a8fc;
    }
  
    #facebook {
      width: 581px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: black;
    }
  
    #linkedin {
      width: 369px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: #26a8fc;
    }
  
    #instagram {
      width: 428px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: black;
    }
  
    a {
      margin: 2.5%;
    }
  
    #copyright {
      font-family: "Josefin Sans", sans-serif;
      font-size: 40px;
      text-align: center;
    }
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .left-side {
    font-family: "Josefin Sans", sans-serif;
    width: 1173px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    margin-left: 6%;
  }
  
  .right-side {
    font-family: "Josefin Sans", sans-serif;
    width: 1314px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }
  
  #email {
    font-family: "Josefin Sans", sans-serif;
    width: 1314px;
    font-size: 90px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: right;
    margin-left: 5%;
  }
  
  span {
    color: #26a8fc;
  }
  
  img {
    width: 400px;
    height: 400px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  #twitter {
    width: 375px;
    height: 107px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }
  
  #twitter:hover {
    color: black;
  }
  
  #facebook {
    width: 581px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  #facebook:hover {
    color: #26a8fc;
  }
  
  #linkedin {
    width: 369px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: #26a8fc;
  }
  
  #linkedin:hover {
    color: black;
  }
  
  #instagram {
    width: 428px;
    height: 100px;
    font-family: "Josefin Sans", sans-serif;
    font-size: 70px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: left;
    text-decoration: none;
    color: black;
  }
  
  #instagram:hover {
    color: #26a8fc;
  }
  
  #social {
    text-align: center;
  }
  
  a {
    margin: 2.5%;
  }
  
  #copyright {
    font-family: "Josefin Sans", sans-serif;
    font-size: 50px;
    text-align: center;
  }
  
  [aos="fade"] {
    opacity: 0;
    transition-property: opacity;
  }
  
  [aos="fade"].aos-animate {
    opacity: 1;
  }
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .left-side {
      font-family: "Josefin Sans", sans-serif;
      width: 250px;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      margin-left: 6%;
    }
  
    .right-side {
      font-family: "Josefin Sans", sans-serif;
      width: 320px;
      font-size: 50px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
      margin-left: 5%;
    }
  
    #email {
      font-family: "Josefin Sans", sans-serif;
      width: 320px;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: right;
    }
  
    img {
      width: 200px;
      height: 200px;
      display: block;
      margin-left: auto;
      margin-right: auto;
    }
  
    #twitter {
      width: 375px;
      height: 107px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: #26a8fc;
    }
  
    #facebook {
      width: 581px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: black;
    }
  
    #linkedin {
      width: 369px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: #26a8fc;
    }
  
    #instagram {
      width: 428px;
      height: 100px;
      font-family: "Josefin Sans", sans-serif;
      font-size: 30px;
      font-weight: normal;
      font-stretch: normal;
      font-style: normal;
      line-height: normal;
      letter-spacing: normal;
      text-align: left;
      text-decoration: none;
      color: black;
    }
  
    a {
      margin: 2.5%;
    }
  
    #copyright {
      font-family: "Josefin Sans", sans-serif;
      font-size: 40px;
      text-align: center;
    }
}
