body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

#logo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#elite {
  width: 625px;
  height: 400px;
}

.image {
  width: 625px;
  height: 400px;
}

a {
  color: black;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.navbar {
  text-decoration: none;
  padding: 15px;
  font-size: 23px;
  font-weight: bold;
}

.navbar:hover {
  color: grey;
  font-size: 30px;
}

li {
  display: inline;
}

#features {
  display: flex;
  flex-direction: column;
}

#facebook-image {
  width: 45px;
  height: 45px;
}

#twitter-image {
  width: 45px;
  height: 45px;
}

#instagram-image {
  width: 45px;
  height: 45px;
}

#linkedin-image {
  width: 45px;
  height: 45px;
}

#facebook {
  margin: 8px;
}

#twitter {
  margin: 8px;
}

#instagram {
  margin: 8px;
}

#linkedin {
  margin: 8px;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

.icon {
  width: 50px;
  height: 50px;
  margin-left: auto;
  margin-right: auto;
}

#linkedin-image-team {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.text {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text {
    width: 300px;
  }

  #elite {
    width: 345px;
    height: 230px;
  }

  .image {
    width: 340px;
    height: 230px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    text-decoration: none;
    padding: 20px;
    font-size: 34px;
    font-weight: bold;
  }

  .navbar:hover {
    color: grey;
    font-size: 41px;
  }
}
