body {
  font-family: "Josefin Sans", sans-serif;
  text-align: center;
}

#logo {
  width: 200px;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

#elite {
  width: 625px;
  height: 400px;
}

a {
  color: black;
}

#facebook-image {
  width: 45px;
  height: 45px;
}

#twitter-image {
  width: 45px;
  height: 45px;
}

#instagram-image {
  width: 45px;
  height: 45px;
}

#linkedin-image {
  width: 45px;
  height: 45px;
}

#facebook {
  margin: 8px;
}

#twitter {
  margin: 8px;
}

#instagram {
  margin: 8px;
}

#linkedin {
  margin: 8px;
}

.pic {
  width: 150px;
  height: 150px;
  border-radius: 100px;
}

#linkedin-image-team {
  width: 30px;
  height: 30px;
  margin-top: -15px;
}

.text {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}

[aos="fade"] {
  opacity: 0;
  transition-property: opacity;
}

[aos="fade"].aos-animate {
  opacity: 1;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .text {
    width: 300px;
  }

  #elite {
    width: 360px;
    height: 230px;
  }
}
